---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/svg+xml" href="/faviconwds.svg" /> 
		<!-- <link rel="icon" href="/favicon.png" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>wds.com</title>
	</head>
	<body>
		<h1>Web Design & Security</h1>
		<h2>Protege y Potencia tu Presencia en Línea</h2>
	</body>
</html>
